<div data-api-content>
  {%- render 'product-grid-item',
    product: product,
    carousel: true,
    aos_delay: '||itemAosDelay||',
    aos_anchor: '||itemAosAnchor||',
    aos_custom_init: true
  -%}
</div>