<!-- /sections/testimonials.liquid -->

{%- render 'testimonials' -%}

{% schema %}
{
  "name": "Testimonials",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "range",
      "id": "subheading_size",
      "label": "Subheading size",
      "default": 100,
      "min": 100,
      "max": 200,
      "step": 5,
      "unit": "%"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Testimonials"
    },
    {
      "type": "range",
      "id": "heading_size",
      "label": "Heading size",
      "default": 100,
      "min": 100,
      "max": 200,
      "step": 5,
      "unit": "%"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "text-left",
      "options": [
        {"label": "Center", "value": "text-center"},
        {"label": "Left", "value": "text-left"}
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "gradient",
      "label": "Overlay gradient"
    },
    {
      "type": "color",
      "id": "testimonial_block_color",
      "label": "Block background"
    },
    {
      "type": "color",
      "id": "star_color",
      "label": "Star color"
    },
    {
      "type": "select",
      "id": "testimonial_text_color",
      "label": "Block text color",
      "default": "text-dark",
      "options": [
        {
          "value": "text-light",
          "label": "Light"
        },
        {
          "value": "text-dark",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper--full-padded",
      "options": [
        {"value": "wrapper--full-padded", "label": "Full width padded"},
        {"value": "wrapper", "label": "Page width"}
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "range",
          "id": "star_rating",
          "label": "Review star rating",
          "min": 0,
          "max": 5,
          "step": 1,
          "default": 5,
          "info": "Set 0 to hide stars"
        },
        {
          "type": "checkbox",
          "id": "enable_border",
          "label": "Enable border",
          "default": true
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Love it!"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Heading size",
          "default": 125,
          "min": 100,
          "max": 200,
          "step": 5,
          "unit": "%"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Testimonial",
          "default": "<p>Excellent customer service. I love their products!</p>"
        },
        {
          "type": "range",
          "id": "content_size",
          "label": "Text size",
          "default": 100,
          "min": 75,
          "max": 175,
          "step": 5,
          "unit": "%"
        },
        {
          "type": "text",
          "id": "customer_name",
          "label": "Customer name",
          "default": "John Edmonson"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Text",
          "default": "<p>Loyal Customer</p>"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "star_rating",
          "label": "Review star rating",
          "min": 0,
          "max": 5,
          "step": 1,
          "default": 5,
          "info": "Set 0 to hide stars"
        },
        {
          "type": "checkbox",
          "id": "enable_border",
          "label": "Enable border",
          "default": true
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "Heading",
          "default": "We let our reviews speak for themselves."
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Heading size",
          "default": 125,
          "min": 100,
          "max": 200,
          "step": 5,
          "unit": "%"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Text",
          "default": "<p>4.98 average<br>213 reviews</p>"
        },
        {
          "type": "color",
          "id": "block_color",
          "label": "Block color",
          "default": "#000"
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Text color",
          "default": "text-light",
          "options": [
            {
              "value": "text-light",
              "label": "Light"
            },
            {
              "value": "text-dark",
              "label": "Dark"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "default": "text-left",
          "options": [
            {
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-left",
              "label": "Left"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "testimonial",
          "settings": {
            "customer_name": "John Edmonson",
            "text": "<p>Excellent customer service. I love their products!<\/p>",
            "subheading": "<p>Happy customer</p>"
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "customer_name": "Lindsay Smith",
            "text": "<p>Excellent customer service. I love their products!<\/p>",
            "subheading": "<p>Los Angeles, CA</p>"
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "customer_name": "Eric Lopez",
            "text": "<p>Excellent customer service. I love their products!<\/p>",
            "subheading": "<p>12 days ago</p>"
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "customer_name": "Sandy Boone",
            "text": "<p>Excellent customer service. I love their products!<\/p>",
            "subheading": "<p>Verified customer</p>"
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "customer_name": "Dmitri Kristov",
            "text": "<p>Excellent customer service. I love their products!<\/p>",
            "subheading": "<p>Verified customer</p>"
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "customer_name": "Amelia Ngoy",
            "text": "<p>Excellent customer service. I love their products!<\/p>",
            "subheading": "<p>Verified customer</p>"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "aside", "footer"]
  }
}
{% endschema %}
